@import url('https://fonts.cdnfonts.com/css/taruno-wide');
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}